<div class="row">
  <div class="col-12 banner">
  </div>
    <div style="padding:50px 15px" class="col-12 center">
       <h3 style="margin:65px 0px;font-size: 190%;">
         Deep learning based real time computer vision inferences and interfaces
        </h3>
        <p>
            We provide A.I based solutions that can detect and recognize humans and their relationships in real-time. This data can be synced into cloud based storage systems. The data can then be visualized into dashboards to perform analytics to see trends and obtain insights or even automate tasks. Most of all, your interface is completely customizable

        </p>

    </div>
</div>

<div class="row">
    <div class="col-12 center">

        <p style="margin-top:45px;margin-bottom: 45px;" class="title">
          Vehicle identification, tracking and demographics
          </p>

      <div class="row">
          <div class="col-lg-6">
             <img style="width:100%;display: block;margin:0px auto 25px auto;" src="../../assets//images/1.png" alt="">
          </div>
          <div class="col-lg-6">
            <img style="height: 263px;max-width:100%;display: block;margin:0 auto;" src="../../assets//images/2.jpg" alt="">
          </div>
      </div>

      <p class="title italic" style="font-size: 12px"> <span class="italic">Applications: Vehicle Search:</span> Find licence plate number in all cameras in the network
      </p>

    </div>
      <div style="padding:15px 15px" class="col-12 center">

          <h4 style="margin-bottom:15px;font-size: 20px;font-style: italic;margin: 65px 0px;">
              “Now, you can leverage the power of deep learning to deduce real time actionable insights from your local CCTV network. For example: Automatically capture arrival and departure of trains in stations or buses in bus stops. This of an be extended to a variety of applications”
            </h4>

            <h5 style="margin:65px 0px 45px 0px" class="title">Vehicle licence plate OCR: </h5>

            <img style="width:80%;display: block;margin:25px auto 15px auto;" src="../../assets//images/3.jpeg" alt="">

            <p style="font-size:12px;width:80%;margin:0 auto">
              Community security system simultaneously recognizes community sticker, number plate and tie it with human. This is ideal for offices and gated communities. A variety of real time inferences can be programmed as illustrated in figure(2)
              </p>

              <p style="margin-top:65px;margin-bottom:-10px" class="title">
                  People counting & grouping
                </p>
                <div class="row">
                  <div class="col-lg-6">
                      <img style="width: 100%;position:relative;top:35px;display: block;margin:25px auto 15px auto;" src="../../assets//images/4.gif" alt="">

                  </div>
                  <div class="col-lg-6">
                  <img style="width:100%;display: block;margin:25px auto 15px auto;" src="../../assets//images/5.jpg" alt="">
                </div>
                </div>

               <ng-container>
                  <p style="margin:65px 0px 25px 0px" class="title italic">Feature extraction & Classification</p>

<div class="row">
  <div class="col-lg-6">
      <img style="width:80%;display: block;margin:25px auto 10px auto;" src="../../assets//images/6.jpg" alt="">
      <p class="title italic" style="font-size: 12px">Restaurant analytics: visitor demographics, waiting time, occupancy, top dishes etc..
        </p>

  </div>
  <div style="position: relative;top:10px" class="col-lg-6">

      <img style="width:80%;display: block;margin:25px auto 10px auto;" src="../../assets//images/7.jpg" alt="">
      <p style="font-size: 12px" class="title italic">Fight detection</p>


    </div>
</div>

                      <p style="margin:65px 0px 45px 0px;" class="title">Facial recognition
                        </p>
                        <p style="width:80%;font-size: 14px;margin: 0 auto;">
                          Face search using local database, secure authentication using facial recognition, Face search in local camera network, automatic attendance system based on facial recognition for organizations, sleep detection for schools and colleges, and general surveillance
                        </p>
                        <img style="width:80%;display: block;margin:25px auto 15px auto;" src="../../assets//images/8.jpg" alt="">

               </ng-container>


      </div>
  </div>
