
  <div style="background:#fff;" class="container">
    <div class="row">
      <div class="col-3">
<img style="height: 50px;margin-bottom: 5px" src="../assets/images/logo.png" alt="">
      </div>
      <div class="col-9 nav">
        <div style="position: absolute;right: 15px;margin-top: 13px;font-weight: bold;">
            <span>About Us</span>
            <span>Products</span>
            <span>Contact Us</span>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>

  </div>

